@import "./_variable.scss";

.content {
    height: calc(100vh - 132px - 2rem);
    overflow: auto;
}

.bg-primary {
    background-color: $primary-color !important;
}

.btn-primary {
    font-weight: bold;
    color: black;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover,
    &:focus {
        color: black;
        background-color: $primary-color;
        border-color: $primary-color;
        opacity: 0.6;
        transition: ease-in-out 0.2s;
        outline: none;
        box-shadow: none;
    }
}

.btn-outline-secondary {
    font-weight: bold;
    color: black;
    border-color: $secondary-color;

    &:hover,
    &:hover {
        color: black;
        background-color: $secondary-color;
        border-color: $secondary-color;
        outline: none;
        box-shadow: none;
    }
}

.btn-secondary {
    color: black;
    background-color: $secondary-color;
    border-color: $grey;

    &:hover {
        color: black;
        background-color: $secondary-color;
        border-color: $secondary-color;
        opacity: 0.6;
        transition: ease-in-out 0.2s;
        outline: none;
        box-shadow: none;
    }

    &.dropdown-toggle {
        background-color: $cream-color;
        color: black;
        border-color: $grey;
        opacity: 0.5;
        &::after {
            display: none;
        }
    }
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    .dropdown-item {
        cursor: pointer;

        &:active {
            background-color: $light-blue;
            color: black;
        }
    }
}
