@import "../../../../assets/variable";

.add-task {
    text-align: right;
}
.list-title {
    color: $card-header;
    font-size: 1.25rem;
    font-weight: bold;
}

.task-list {
    border: solid 1px #cccccc;
    box-shadow: 1px 1px 5px 1px #cccccc;
    border-radius: 10px;     
}